[Unit]
Description="Elsa Hilft Backend"
After=network.target network-online.target nss-lookup.target

[Service]
Type=simple
Environment=TELEGRAM_TOKEN={{ elsa_backend_telegram_token }}
Environment=TELEGRAM_BOT_NAME={{ elsa_backend_bot_name }}
Environment=TELEGRAM_GROUPCHAT_URL={{ elsa_backend_telegram_group_chat_url }}
Environment=TELEGRAM_GROUPCHAT_ID={{ elsa_backend_telegram_group_chat_id }}
Environment=TELEGRAM_MODERATORCHAT_ID={{ elsa_backend_telegram_moderator_chat_id }}
Environment=TELEGRAM_SUPPORTUSER_NAME={{ elsa_backend_supportuser_name }}
Environment=DEPLOYMENT_DOMAIN={{ ansible_fqdn }}
Environment=SMTP_HOST=elsa-hilft.ch
Environment=SMTP_PORT=
Environment=SMTP_USER=
Environment=SMTP_PASSWORD=
Environment=DATABASE_USER=db
Environment=DATABASE_PASSWORD=db
Environment=DATABASE_URL=jdbc:postgresql://localhost:5434/db
Environment=JWT_SECRET={{ elsa_backend_jwt_secret }}
Environment=METRICS_SECRET={{ elsa_backend_metrics_secret }}
Environment=GOOGLE_APPLICATION_CREDENTIALS=/usr/local/share/gcp-testing.json
Environment=GCS_STORAGE_BUCKET=ehd-testing-storage
ExecStart=java -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=4004 \
        -jar /usr/local/lib/elsa-hilft.jar --spring.profiles.active={{ elsa_backend_spring_profile }}
User=elsa
Group=elsa
WorkingDirectory=/var/lib/elsa
Restart=on-failure

NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
