[Unit]
Description="Elsa Hilft Backend"
After=network.target network-online.target nss-lookup.target

[Service]
Type=simple
Environment=TELEGRAM_TOKEN={{ elsa_backend_telegram_token }}
Environment=TELEGRAM_BOT_NAME={{ elsa_backend_bot_name }}
Environment=DEPLOYMENT_DOMAIN={{ ansible_fqdn }}
ExecStart=java -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=4004 \
        -jar /usr/local/lib/elsa-hilft.jar
User=elsa
Group=elsa
WorkingDirectory=/var/lib/elsa
Restart=on-failure

NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
